body{
    font-family:Arial, Helvetica, sans-serif sans-serif;
    background:white;
    color: black;
}
div#interface{
    text-align: center;
    width: 900px;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 3px;
    background:linear-gradient(red,yellow,green);/*para usar mais de uma cor*/
   
}
div#texto h1{
    font-size: 15pt;
    text-align: center;
}
div#texto p{
    font-size: 13pt;
    text-align: justify;
    text-indent: 40px;
}
nav#menu{
    display: block;/*para transformar em bloco*/
}
nav#menu ul{
    position: absolute;/*para poder movimentar por toda pagina*/
    list-style: none;/*para tirar as marcações*/
    text-transform: uppercase;
    top: -10px;
    left: 500px;
}
nav#menu li{
    display: inline;
    padding: 5px;
    /*background:linear-gradient(red,yellow);*/   
}
nav#menu a{
    text-decoration: none;
    color: black;
}
nav#menu li:hover{
    background: linear-gradient(black);

}section#corpo{
    display: block;
    width: 470px;
    float: left;
    background-color: aliceblue;
    /*background:linear-gradient(red,yellow,green);*/
    padding-right: 20px;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    margin-top: 10px;
    padding-right: 0px;
    padding: 15px;
    background: green;
    margin: auto;
}
header#cabecalho img#logo{
    position: absolute;
    left: 860px;
    top: 30px;
}
aside#direita{
    /*background: url("logo-cal.png") no-repeat;*/
    display: block;
    float: right;
    width: 370px;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5) ;
    margin-top: 10px;
    padding-left: 0px;
    padding: 15px;
    background: green;
    margin: auto;
}
aside#final{
    display: block;
    float: inline-end;
    width: 900px;
    box-shadow:0px 0px 10px rgba(0,0,0,.5) ;
    background:linear-gradient(green,yellow,red);
}
footer#rodape{
    clear: both;/*para limpar todo conteúdo/ igualar os dois lados*/
    border-top: 1px solid #606060 ;
}
footer#rodape p{
    text-align: center;
}